{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Генератор Палитр - Страница не найдена</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>404</h1>
    <p>Страница не найдена</p>
    <p><a href="/">Вернуться на главную</a></p>
    <footer>
        <p>Генератор Палитр © {% now "Y" %}</p>
        <p>Страница 404</p>
        <p>Данил Бабиков</p>
    </footer>
</body>
</html>